:root {
  --color01: #4ea0ff;
  --color02: #824205;

}



#site_header {

  background-image: url("./assets/img/pattern.png");
  background-repeat: repeat-x;
  background-color: var(--color01);
  height: 100px;
  margin-top: 0;
  margin-bottom: 0;

}